@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700&display=swap');

:root {
  font-family: 'Muli',"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0;
}

.card {
  border-radius: 15;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 20vw;
  min-height: auto;
  margin: auto 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  justify-content: center;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 14px;
}

input[type="submit"] {
  background-color: rgb(76, 102, 175);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  font-size: 15px;
}

input[type="submit"]:hover {
  background-color: rgb(20, 228, 103);
}

.button_holder {
  text-align: center;
  padding: 30px 0;
}

a {
  text-decoration: none;
  color: rgb(76, 102, 175);
  font-size: small;
}

a:visited {
  color: rgb(76, 102, 175);
}

a:hover {
  color: rgb(20, 228, 103);
}

.header-card {
  width: 100%;
  height: 5%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
